@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {
  margin: auto;
  max-width: 1240px;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
